<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>                
                    </a>
                    <p class="card-text">{{this.age}}</p>
                    <a href="/courses/{{this.slug}}">
                        <p class="card-text">{{this.sex}}</p>
                    </a>
                </div>
            </div>
        </div>
        {{/each }}
    </div>
</div>
