<div class="view">
    <div class="mt-4 static">

        <div class="mb-3 row">
            <label for="sum" class="col-sm-5 col-form-label">Tổng số phòng</label>
            <div class="col-sm-5">
                <input type="Number" readonly class="form-control" style="text-align: center;" id="sum" name="sum"
                    value=0>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="sum_ready" class="col-sm-5 col-form-label" style="background-color: green;">Số phòng
                trống</label>
            <div class="col-sm-5">
                <input type="Number" readonly class="form-control" style="text-align: center;" id="sum_ready"
                    name="sum_ready" value=0>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="sum_hired" class="col-sm-5 col-form-label" style="background-color: #3382ad;">Số phòng đã
                thuê</label>
            <div class="col-sm-5">
                <input type="Number" readonly class="form-control" style="text-align: center;" id="sum_hired"
                    name="sum_hired" value=0>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="sum_fixing" class="col-sm-5 col-form-label" style="background-color: red;">Số phòng đang
                sửa</label>
            <div class="col-sm-5">
                <input type="Number" readonly class="form-control" style="text-align: center;" id="sum_fixing"
                    name="sum_fixing" value=0>
            </div>
        </div>

    </div>
    <div class="mt-4 show">
        <div class="row">
            {{#each rooms}}
            <div class="col-sm-10 col-lg-3">
                <div class="card">
                    <div class="card-body" id="card_{{this.id_phong}}">
                        <a href="/rooms/{{this.id_phong}}">
                            <h4 class="card-title" style="color: black;">{{this.ten_phong}}</h4>
                        </a>
                        <p class="card-text">{{this.loai_phong}}</p>
                        <p class="card-text">{{this.gia_phong}}</p>
                        <p class="card-text" id="trang_thai-{{this.trang_thai}}" value={{this.trang_thai}}>
                            {{this.trang_thai}}</p>
                    </div>
                </div>
            </div>
            <script>
                var card = document.getElementById("card_{{this.id_phong}}");
                var trangthai = document.getElementById("trang_thai-{{this.trang_thai}}").getAttribute('value')
                console.log(trangthai);
                document.getElementById("sum").setAttribute("value", parseInt(document.getElementById("sum").getAttribute("value")) + 1);
                console.log(document.getElementById("sum").getAttribute("value"));
                if (trangthai == 'ready') {
                    card.style.backgroundColor = "#e9f7ea";
                    card.style.color = "green";
                    document.getElementById("sum_ready").setAttribute("value", parseInt(document.getElementById("sum_ready").getAttribute("value")) + 1);
                    console.log(document.getElementById("sum").getAttribute("value"));
                }
                if (trangthai == 'hired') {
                    card.style.backgroundColor = "#bbdefc";
                    card.style.color = "#3382ad";
                    document.getElementById("sum_hired").setAttribute("value", parseInt(document.getElementById("sum_hired").getAttribute("value")) + 1);
                    console.log(document.getElementById("sum").getAttribute("value"));
                }
                if (trangthai == 'fixing') {
                    card.style.backgroundColor = "#ffebec";
                    card.style.color = "red";
                    document.getElementById("sum_fixing").setAttribute("value", parseInt(document.getElementById("sum_fixing").getAttribute("value")) + 1);
                    console.log(document.getElementById("sum").getAttribute("value"));
                }

            </script>
            {{/each }}
        </div>
    </div>
</div>