<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Sex</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.age}}</td>
      <td>{{this.sex}}</td>
      <td>
        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sua</a>
        <a href="" class="btn btn-link" data-toggle="modal" data-id={{this._id}} data-target="#delete-modal">Xoa</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-modal" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form id="btn-delete-form" method="post"></form>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    var id;
    var deleteForm = document.getElementById('btn-delete-form');
    var btnDelete = document.getElementById('btn-delete-modal');

    $('#delete-modal').on('shown.bs.modal', function (event) {
      console.log(event);
      const button = $(event.relatedTarget);
      id = button.data('id');
      console.log(button);
       console.log(id);
    })

    btnDelete.onclick = function () {
      deleteForm.action = '/courses/' + id + '?_method=delete';
      deleteForm.submit();
    }
  });

</script>